# Deployment do servidor Flask que expõe a API REST
apiVersion: apps/v1
kind: Deployment
metadata:
  name: 
  labels:
    app: recommender-api
    app.kubernetes.io/name: recommender-api
    app.kubernetes.io/part-of: recommender
    app.kubernetes.io/managed-by: argocd
spec:
  replicas: 1  # número de réplicas do servidor
  selector:
    matchLabels:
      app: recommender-api
  template:
    metadata:
      labels:
        app: recommender-api
    spec:
      containers:
      - name: api-server
        image: soramf/recommender-api:0.2  # imagem da API (versão 0.1)
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000  # porta que o Flask usa dentro do container
          name: http
        volumeMounts:
        - name: model-volume
          mountPath: /models  # onde o modelo será lido
        env:
        - name: MODEL_PATH  # caminho do modelo dentro do volume
          value: /models/recommendation_model.pickle
        - name: PORT  # porta que o Flask deve escutar
          value: "5000"
        - name: FLASK_APP
          value: "app.py"
      volumes:
      - name: model-volume
        persistentVolumeClaim:
          claimName: recommender-pvc  # mesmo nome do PVC