apiVersion: v1
kind: PersistentVolume
metadata:
  name: recommender-pv-matheussilva
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/data/matheussilva"
  storageClassName: standard